*{
    padding: 0px;
    margin: 0px;
}

body{
    background: black;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.navbar{
    height: 100px;
}

.primera{
    float: right;
    margin-left: 50px;
    width: 90px;
    height: 90px;
}

.segunda{
    float: left;
    width: 90px;
    height: 90px;
}

.titulo{
    float: left;
    margin-right: 4%;
}

.card{
    background: rgb(22, 21, 21);
    font-size: 1.5em;
}

.carta1{
    position: absolute;
    top: 22%;
    left: 3%;
}

.card-body{
    color: rgba(194, 15, 15, 0.897);
    font-size: 0.7em;
}

.card-title{
    color:red;
    font-size: 1.2em;
}

.carta2{
    position: absolute;
    top: 22%;
    left: 35%;
}

